/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

input,
button {
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* custom scrollbar  */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: var(--black-900);
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 1rem;
  border: 3px solid var(--black-900);
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* css variables */
:root {
  --black-900: #1a202c;
  --blue-600: #67b9e1;
  --yellow-600: #ffb200;
}

/* styles */
body {
  font-family: Roboto;
  font-size: 16px;
  background-color: var(--black-900);
}

h1 {
  margin: 1rem 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  background-color: var(--black-900);
  color: white;
}

#message-view {
  margin-bottom: 5rem;
  overflow: auto;
  display: grid;
  gap: 1rem;
  border-radius: 0.5rem;
}

#message-view p {
  color: black;
  background-color: var(--blue-600);
  border: 0.1rem solid var(--blue-600);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-right: 0.5rem;
}

#message-view p:nth-child(2n) {
  color: black;
  background-color: var(--yellow-600);
  border: 0.1rem solid var(--yellow-600);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-right: 0.5rem;
}

#message-form {
  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;
  width: 500px;
  display: flex;
  align-items: center;
}

#message-input {
  all: unset;
  flex-grow: 1;
  background-color: var(--black-900);
  border: 2px solid var(--blue-600);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-right: 0.5rem;
}

.custom-image-input {
  margin-bottom: -0.5rem;
  width: 3.9rem;
  color: transparent;
  flex-grow: 0;
}
.custom-image-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-image-input::before {
  display: inline-block;
  content: "";
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" /%3E%3C/svg%3E');
  color: var(--yellow-600);
  background-color: var(--yellow-600);
  border: 0.5rem solid var(--yellow-600);
  border-radius: 0.5rem;
  padding: 1.2rem;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

#message-button {
  all: unset;
  cursor: pointer;
  background-color: var(--black-900);
  border: 2px solid var(--yellow-600);
  border-radius: 0.5rem;
  padding: 0.7rem 0.8rem;
}

svg {
  color: var(--yellow-600);
}
